<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.vexo.app.VexoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vexo">

        <!-- Login como Launcher -->
        <activity
            android:name="com.vexo.app.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.vexo.app.RegisterActivity" android:exported="false" />
        <activity android:name="com.vexo.app.ForgotPasswordActivity" android:exported="false" />

        <!-- MainActivity manejará los Deep Links -->
        <activity 
            android:name="com.vexo.app.MainActivity"
            android:exported="true">
            <intent-filter android:label="Abrir Perfil VEXO">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Esquema vexo://profile/{userId} -->
                <data android:scheme="vexo" android:host="profile" />
            </intent-filter>
        </activity>

        <activity android:name="com.vexo.app.DiaryActivity" android:exported="false" />

        <!-- Otras Activities -->
        <activity android:name="ui.explore.ExploreActivity" android:exported="false"/>
        <activity android:name="ui.explore.CategoryMoviesActivity" android:exported="false"/>
        <activity android:name="ui.explore.DiscoverResultsActivity" android:exported="false"/>
        <activity android:name="ui.detail.DetailActivity" android:exported="false"/>
        <activity android:name="ui.detail.PersonMoviesActivity" android:exported="false"/>
        <activity android:name="ui.search.SearchActivity" android:exported="false"/>
        <activity android:name="ui.genre.GenreActivity" android:exported="false"/>
        <activity android:name="com.vexo.app.ListActivity" android:exported="false"/>
        <activity android:name="com.vexo.app.UserListDetailActivity" android:exported="false"/>
        <activity android:name="ui.explore.AboutActivity" android:exported="false"/>
        <activity android:name="com.vexo.app.AllRatedMoviesActivity" android:exported="false"/>
        <activity android:name="com.vexo.app.VexoListDetailActivity" android:exported="false"/>
        <activity android:name="ui.detail.TVSeasonsActivity" android:exported="false"/>
        <activity android:name="ui.detail.WatchProvidersActivity" android:exported="false"/>
        <activity android:name="com.vexo.app.AchievementsActivity" android:exported="false" />
        <activity android:name="ui.recommendation.RecommendationActivity" android:exported="false" />

        <!-- Nueva Activity para ver perfiles de otros -->
        <activity android:name="com.vexo.app.PublicProfileActivity" android:exported="false" />

    </application>

</manifest>